.grid-container {
    position: relative;
}
.grid {
    display:flex;
    flex-wrap:wrap;
}

.grid-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
}
.grid-container .overlay.overlay-active {
    opacity: 1;
    display:block;
    background: rgba(0,0,0,.2);
}
