.App {
    text-align: center;
}

.Container {
    width: 80%;
    margin: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
